$base-path: '../assets/images/';

$file-name-banner: 'placeholder-banner';
$compass-arrow: 'compass-arrow';

$jpg: 'jpg';
$png: 'png';

$file-path: $base-path + $compass-arrow + '.' + $png;
$file-path-banner: $base-path + $file-name-banner + '.' + $jpg;
